.p-header{
  vertical-align: middle;
}
.p-footer{
  justify-content: space-between;
}
.p-footer--left{
  position:relative;
  text-align: right;
}
.p-title{
  text-align: left;
}
.p-maincontents{
  width:500px;
}
.p-maincontents--input,.p-maincontents--output, .p-maincontents--setting, .p-maincontents--converter{
  width:500px;
}
.p-setting{
  display:flex;
  justify-content:space-between;
}
.p-maincontents--output{
  width:500px;
}

@media (max-width:$sm){
  .p-header{
    text-align: center;
  }
  .p-footer{
    flex-direction: column;
  }
  .p-title{
    text-align: center;
  }
  .p-maincontents{
    width:330px;
  }
  .p-maincontents--input,.p-maincontents--output, .p-maincontents--setting, .p-maincontents--converter{
    width:330px;
  }
}
